h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
}

h2 {
  color: #512070;
  font-family: sans-serif;;
  font-size: 25px;
  text-align:center;
  text-decoration: underline;;
}

body {
  background-color: #eda3ea;
}

p {
  font-size: 20px;
  font-family: sans-serif;;
}

ul {
  list-style-type: none;
  display: inline;
  text-align: center;
}

li {
  font-size: 25px;
  font-family: sans-serif;;
}
